.phr-table.search-results thead {
    border-top: 1px solid #E0E0E0;
}
.empty-cell{
    min-width:70px;
}
.status-pending-review, .status-completed-sec1, .color-blue {
    color: #28abe3;
}

#auth.i9-block.wide{
	max-width: 1170px;
}

#auth.i9-block.half-wide{
	max-width: 960px;
}

.middle-text {
    font-family: Roboto;
    font-weight: 500;
    color: #28abe3;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 21px;
}
.dashboard-box {
    background-color: #F5FAFC;
    text-align: center;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    -moz-box-shadow: 1px 1px 4px rgba(158, 158, 158, 0.92);
    -webkit-box-shadow: 1px 1px 4px rgba(158, 158, 158, 0.92);
    box-shadow: 1px 1px 4px rgba(158, 158, 158, 0.92);
    color: #666666;
}
.dashboard-box-quantity {
    text-decoration: underline;
    padding-bottom: 20px;
    font-size: 23px;
    padding-top: 12px;
    padding-bottom: 11px;

}
.blue {
    color: #3399cc;
}
.red {
    color: #CC3333;
}
.orange {
    color: #CC6633;
}
.green {
    color: #33CC33;
}
.dashboard-box-heading {
    text-transform: uppercase;
    padding-top: 20px;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    color: #666666;
    font-weight: 500;
}

.background-red {
    background-color: #FCF5F5;
}
.background-light {
    background-color: #FCF7F5;
}
.box-margin-top{
    margin-top: 30px;
}
.background-white {
    background-color: #FFFFFF;
}
.dashboard-table {
    text-align: center;
    border: none;
}
    .dashboard-table td {
        border: 1px solid #E0E0E0;
        padding: 10px 20px;
        width: 25%;
    }
    .dashboard-table tr {
        border-top: 1px solid #E0E0E0;
        border-bottom: 1px solid #E0E0E0 !important;
        border-left: none;
        border-right: none;
    }
    .dashboard-table tr td:first-child, .dashboard-table tr td:last-child {
        border-left-color: transparent;
    }
        .dashboard-table tr td:last-child {
            border-right-color: transparent;
        }
.margin-x-20 {
    margin: 20px;
    overflow: hidden;
}